annotated-types==0.8.0
anyio==4.15.1
asgiref==3.11.0
boto3==1.43.89
botocore==1.43.89
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cloudinary==1.44.1
cryptography==50.0.1
cssselect2==0.9.0
deprecation==2.1.0
dj-database-url==3.1.0
Django==6.0.1
django-cloudinary-storage==0.3.0
django-grappelli==2.15.7
django-storages==1.14.6
et_xmlfile==2.0.0
fonttools==4.62.1
gunicorn==24.1.1
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
jmespath==1.1.0
multidict==6.7.1
openpyxl==3.1.5
packaging==26.0
pillow==12.1.1
postgrest==2.31.0
propcache==0.5.2
psycopg2-binary==2.9.11
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
pydyf==0.12.1
PyJWT==2.13.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
realtime==2.31.0
reportlab==4.5.0
requests==2.32.5
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2025.3
urllib3==2.6.3
webencodings==0.5.1
websockets==15.0.1
whitenoise==6.12.0
yarl==1.24.5
zopfli==0.4.1
python-dotenv==1.2.3