<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $("#id_county").change(function () {
    var url = "{% url 'ajax_load_constituencies' %}";
    var countyId = $(this).val();
    $.ajax({
      url: url,
      data: {
        'county': countyId
      },
      success: function (data) {
        $("#id_constituency").html("");
        data.forEach(function (item) {
          $("#id_constituency").append('<option value="'+ item.id +'">'+ item.name +'</option>');
        });
      }
    });
  });
</script>
